.call-to-action {
    margin-top: 1rem;
    padding: 2rem;
    padding-top: 0;

    &__wrapper {
        display: flex;
        border-radius: .625rem;
        border-right: none;

        .donation-input__wrapper {
            position: relative;
            flex: 3;
            border-top-left-radius: .625rem;
            border-bottom-left-radius: .625rem;
            border: 2px solid #D3D3D3;
            border-right:0;

            &:before {
                content: '$';
                position: absolute;
                top: 50%;
                left: .9375rem;
                z-index: 1;
                transform: translateY(-50%);
                font-size: 1.4rem;
                color: grey;
            }
        }

        .donation-input {
            border: none;
            border-radius: .625rem;
            font-size: 1.8rem;
            padding-left: 2.3rem;
            height: 3rem;

            &:focus {
                outline: none;
            }
        }

        .donation-button {
            font-size: 1rem;
            font-family: 'Poppins';
            font-weight: 600;
            background-color: $darkGreen;
            color: #fff;
            height: 100%;
            border: none;
            border-radius: .625rem;
            border-top-left-radius: initial;
            border-bottom-left-radius: initial;
            cursor: pointer;
            transition: all 300ms ease-in-out;

            &:hover {
                background-color: $darkBlue;
            }
        }
    }
}
