.call-to-action {
    padding: 2rem;

    &__wrapper {
        display: flex;
        border-radius: 10px;
        border: 1px solid #D3D3D3;
        border-right: none;

        &.error {
            border: 3px solid red
        }

        .donation-input__wrapper {
            position: relative;
            flex: 3;


            &:before {
                content: '$';
                position: absolute;
                top: 50%;
                left: 15px;
                z-index: 1;
                transform: translateY(-50%);
                font-size: 1.4rem;
                color: grey;
            }
        }



        .donation-input {
            border: none;
            border-radius: 10px;
            font-size: 1.8rem;
            padding-left: 2.3rem;
            height: 3rem;


            &:focus {
                outline: none;
            }
        }

        .donation-button {
            font-size: 1rem;
            font-family: 'Poppins';
            font-weight: 600;
            background-color: $darkGreen;
            color: #fff;
            border: none;
            border-radius: 10px;
            border-top-left-radius: initial;
            border-bottom-left-radius: initial;
            cursor: pointer;
            transition: all 300ms ease-in-out;

            &:hover {
                background-color: $darkBlue;
            }

            &.disabled {
                background-color: grey;
                pointer-events: auto ! important;
                cursor: not-allowed ! important;
            }
        }
    }

}