.donation {
    background-color: $lightBlue;
    color: $darkBlue;
    width: $componentWidth;
    padding: 1rem 2rem;
    border-radius: .625rem;
    position: relative;
    font-size: 1.2rem;
    margin: auto;

    &:after {
        content: "";
        position: absolute;
        border-left: .9375rem solid transparent;
        border-right: .9375rem solid transparent;
        border-top: .9375rem solid $lightBlue;
        bottom: -.9375rem;
        right: 3.125rem;
    }

    
}
