.progress-bar {
    min-height: 1rem;
    background: $lightGreen;
    border-top-left-radius: .625rem;
    border-top-right-radius: .625rem;
    position: relative;
    overflow: hidden;
    width: $componentWidth;
    margin: auto;
    margin-top: 2rem;
    padding: 0 2rem;
    cursor: pointer;



    &__progress {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background: $darkGreen;
        transition: .3s;
    }
}
