.tooltip {
    opacity: 0;
    width: 0;
    height: 0;
    border-left: 2.8125rem solid transparent;
    border-right: 2.8125rem  solid transparent;
    border-bottom: 2.8125rem  solid #c2c5cc;
    position: absolute;
    top: .625rem;
    font-size: .5rem;
    z-index: 1000;
    color: black;
    transition: opacity 300ms ease-in-out;

    &.show {
        opacity: 1;
    }

    &__detail {
        font-size: .875rem;
        margin-top: 1.25rem;
        margin-left: -.875rem;
    }

}